<html>
    <head>
        <title>Django Bloguito</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Bloguito</a></h1>
        </div>
        <div>
            {% for post in posts %}
                <div>
                   <p>Published: {{ post.published_date }}</p>
                   <h1><a href="">{{ post.title }}</a></h1> 
                   <p>{{ post.text|linebreaksbr }}</p>
                </div>
                {{ post }}
            {% endfor %}
        </div>
    </body>
</html>
